

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.textBlue{
  color: #10219a;
}
    
  .heroFull{
    background-color: rgba(245, 245, 245, 0.57);
  }
.plane{
    max-width: 132px;
    position: relative;
  scale: 3;
    /* top:-150px; */
    top:-50px;
    left: 200px;
    margin-bottom: 100px;
    animation-name: example;
    animation-duration: 3s;
    transition: ease-out;
    /* opacity: 1; */
}
.planeBox{
  display: flex;
  align-items: end;
  justify-content: end;
}
.parcel{
    width: 60px;
    position: relative;
    left:200px;
    top:-120px;
    scale: 2;
    opacity: 0;
    /* box-shadow: 2px 2px 2px 2px #8888888e; */
    animation-name: parcelAnimation;
    animation-duration: 3s;
    animation-delay: 0.2s;
   animation-fill-mode: forwards;
   z-index: 30;
}
@keyframes parcelAnimation {
    0%   { right:100px; top:-100px; opacity: 0; scale: 0; }
    20%   { right:100px; top:-90px; opacity: 1; scale: 1; }
    /* 25%  { left:200px; top:0px;} */
    /* 50%  {left:200px; top:200px;} */
    /* 75%  {left:0px; top:200px;} */
    100% { right: 100px; top:230px; opacity: 1; scale: 2;}
  }  

  @keyframes example {
    0%   { left:-100px; top:0px; opacity: 1;}

    100% { left:200px; top:-50px; opacity: 1;}
  }
 

  .people{
    
    /* right: 100px; */
    max-width: 400px;
    margin-bottom: 100px;
    z-index: -20;

  }
  .hero{
    /* height: 90vh; */
    min-height: 70vh;
    padding: 80px 260px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
  }
  /* .peopleBox{
    display: flex;
    justify-content: end;
    align-items: end;
  } */

  .logo{
    width: 100px;
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 260px;
  }
  li{
    list-style: none;
  }
  .logoQuote{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .headingHero{
font-size: 60px;
max-width: 600px;
color: #10219a;
margin-bottom: 12px;
  }
  .headingHighlight{
    color: #20994d;
  }
  .flagContainer{
    display: flex;
    justify-content: space-between;
  }
  .flag{
    max-width: 140px;
  }

  .btn-1{
    background: #10219a;
    padding: 18px 36px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px gray;
  }
  .btn-1:hover{
    box-shadow: none;
  }
  .btn-2{
    background: #20994d;
    padding: 15px 30px;
    /* font-weight: bold; */
    font-size: 16px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px gray;
  }
 .btn-2:hover{
    background-color: #4b9466;
    box-shadow: none;
  }
  .btn-3{
    background: #20994d;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px gray;
  }
  .btn-3:hover{
    background-color: #4b9466;
    box-shadow: none;
  }
  .btn-4{
    background: #10219a;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border-radius: 8px;
  }
  .para-1{
    color: rgb(46, 46, 46);
    font-size: 16px;
    /* font-weight: bold; */
    padding-bottom: 24px;
  }
  
  .heroGraphicContainer{
    max-width: 400px;
    max-height: 400px;
    background: #10209ab6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: end; */
   
    box-shadow: 5px 5px 5px 5px #8888888e;
    z-index: 10;
    border-radius: 50%;
    animation-name: expand;
    animation-duration: 1s;
  }
  @keyframes expand {
    0%   { max-width: 0; max-height: 0; border-radius: 100; opacity: 0;}

    100% { max-width: 500px; max-height: 500px; opacity: 1;}
  }
  .heroGraphicContainer:hover{
    box-shadow: none;
    /* border-radius: 500px; */
   
  }
  section{
    padding: 120px 260px;
    display: flex;
    /* justify-content: center; */
    /* background-color: rgba(201, 201, 201, 0.733); */
  }
  .heading-2{
    font-size: 48px;
max-width: fit-content;

  }
  .animateShowUp{
    animation-name: showUp;
    animation-duration: 2s;
    transition: ease-out;
  }
  @keyframes showUp {
    0%   {  opacity: 0;}

    100% { opacity: 1;}
  }
  nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap: 36px;
    align-items: center;
    /* padding: 20px 20px; */
  }
  nav li{
    font-size: 18px;
    font-weight: 400;
  }
  @media (max-width:700px){
    /* .plane{
        max-width: 200px;
        z-index: -1;
    } */
    .hero{
      /* height: 90vh; */
      padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 60px;
 
    }
    .headingHero{
      font-size: 48px;
      max-width: 300px;
      color: rgb(46, 46, 46);
      margin-bottom: 12px;
        }
   
    nav p{
      display: none;
    }
    .plane{
      max-width: 100px;
      position: relative;
    scale: 3;
      /* top:-150px; */
      top:-50px;
      left: 200px;
      margin-bottom: 100px;
      animation-name: example;
      animation-duration: 3s;
      transition: ease-out;
      /* opacity: 1; */
  }
  .people{
    
    /* right: 100px; */
    max-width: 300px;
    margin-bottom: 100px;
    z-index: -20;

  }
    .heroGraphicContainer{
      width: 100%;
      max-height: 600px;
      background: #10209ab6;
      margin-top: 12px;
      
    }
    .parcel{
      max-width: 60px;
      position: relative;
      left:600px;
      /* top:-110px; */
      scale: 2;
      opacity: 0;
      animation-name: parcelAnimation;
      animation-duration: 3s;
      animation-delay: 0.2s;
     animation-fill-mode: forwards;
     z-index: 30;
  }
  section{
    padding: 80px 20px;
    display: flex;
    /* justify-content: center; */
    background-color: rgb(255, 255, 255);
    /* filter: brightness(1.75); */
  }
  .serviceContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
  }
  .heading-2{
    font-size: 32px;
max-width: fit-content;

  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 20px;
  }
  nav{
    display: none;
  }
  }


  /* section service */
.serviceSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  /* height: 70vh; */
  background-color: #fff;
}
  .serviceContainer{
    display: flex;
    flex-wrap: row;
    gap: 60px;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
  }
  .eachserviceBox{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(218, 218, 218); */
    /* background-color: #acacacb6; */
    background-size: 0% 0%;
    gap: 40px;
    justify-content: space-between;
    max-width: 360px;
    border-radius: 24px;
    position: relative; /* Ensure the box has a relative positioning for better control */
    overflow: hidden; /* Ensure the border is clipped to the box */
    border: 2px solid transparent; 
  }
 
  /* .eachserviceBox:hover{
    background-size: 100% 100%;
    animation-name: borderAnimation;

    background-position: top left;
    border-width: 2px;
  background-color: rgba(36, 81, 165, 0.4); /
  } */
  @keyframes borderAnimation {
    0%   { background-size: 0% 0%;}
    25%  { background-size: 25% 25%;}
    50%  { background-size: 50% 50%;}
    100% { background-size: 100% 100%;}
  }

  .eachserviceBox div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    /* padding-left: 0px; */
  }
  .serviceIcon{
    max-width:56px;
    padding: 20px;
    /* background-color: rgb(113, 165, 36); */
    max-width: 60px;
    border-radius:  0 0 50px 0;
  }
  .subHeadingHeighlight{
    color: #10219a;
    font-weight: bolder;

  }
  .serviceHeading{


  font-size: 1.5rem; 
 
  background: linear-gradient(90deg, rgba(25, 25, 249, 1) 11%, rgba(0, 255, 96, 1) 100%);
  -webkit-background-clip: text; /* For WebKit browsers */
  -webkit-text-fill-color: transparent; /* Makes the text color transparent so the background shows through */
  background-clip: text; /* For non-WebKit browsers */
  color: transparent; /* Fallback color in case gradient doesn’t work */




    /* font-size:xx-large; */

  }
  .para-2{
    font-size: 18px;
    color:rgb(80, 80, 80) ;
   
  }

/* priceSection */

  .priceSection{
    background-color: #e4e4e433;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
  }
  .priceSecContainer{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    /* border: 2px solid gainsboro; */
    /* gap: 200px; */
   
    border-radius: 24px;
  }
  .priceDetailBox{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background: rgba(180, 226, 110, 0.637);
    text-decoration: none;
    /* background: linear-gradient(90deg, rgba(113,165,36,1) 27%, rgba(255,255,255,1) 100%);  */
  }
  .calculatorBox{
    display: flex;
    flex-direction: column;
  
    /* padding: 40px; */
    gap: 20px;
    
  }
  .line-1{
    height: 2px;
    width: 200px;
    background-color: black;
  }
  .formContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* max-width: fit-content; */
  }
  .formContainer input{
    padding: 12px;
    width: 200%;
  }

  .cta{

    background: linear-gradient(90deg, rgba(25,25,249,1) 11%, rgba(69,247,136,1) 100%);
  
    display: flex;
    flex-direction: column;
/* align-items: center; */
    gap: 40px;
    color: #fff;
    
  }
  .howItWorksSection{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .howItWorksContainer{
    width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 40px;
  }

  .howItWorksRow{
    display: flex;
    flex-direction: row;
    /* justify-content:  */
    gap: 400px;
    align-items: center;
  }
  .mockUpBox{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .howItWorksImg{
    max-width: 400px;
  }

  .stepBox{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(218, 218, 218); */
    /* background-color: #acacacb6; */
    background-size: 0% 0%;
    /* gap: 40px; */
    justify-content: space-between;
    max-width: 600px;
    border-radius: 24px;
    cursor: pointer;
    border: 2px solid rgba(36, 81, 165, 0.7);
    
  }
  .stepBox div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
  }

  .stepCount{
    font-weight: bolder;
    font-size: larger;
    padding: 20px;
    background-color: #20994d;
    max-width: fit-content;
    border-radius:  24px 0 50px 0;
   
    /* display: none; */
  }
  .stepBox:hover{
    /* background: rgb(113, 165, 36); */
    background-size: 100% 100%;
    animation-name: bgAnimation;
    background-color: rgba(36, 81, 165, 0.7);
    background-position: top left;
  transition: background-size 10000ms ease-in-out;
  }
  .stepBoxBg{
    background-color: rgba(36, 81, 165, 0.4);
    box-shadow: 8px 8px 8px 8px solid black;
    z-index: 20;
  }

  @keyframes bgAnimation {
    0%   {   background-size: 0% 0%;}
    25% {   background-size: 25% 25%;}
    50% {   background-size: 50% 50%;}
    100% {   background-size: 100% 100%;}
  }
  .testimonialSection{
    display: flex;
    flex-direction: column;
    gap: 100px;
    /* justify-content: center; */
    background-color: #f1f1f1;
    align-items: center;
  }
  .testimonialContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .testimonialBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
  }
  .testimonialClientName{
    color: #353535;
    font-size: 24px;
    font-weight: bolder;
  }
  .clientLogoSection{
    display: flex;
    flex-direction: column;
    background-color: #dfdfdfb5;
    align-items: center;
    gap: 80px;
  }
  .logoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .clientLogo{
    max-width: 120px;
  }
  .calcAnimateBox{
    display: flex;
    gap: 100px;
  }
  .boxes{
    position: relative;
    left: 200px;
    max-width: 300px;
    animation-name: boxAppear;
    animation-duration: 2s;
    transition: ease-out;
    /* translate: 50px 100px; */
  }
  /* @keyframes boxAppear {
    0%   {  bottom: 1200px; opacity: 0;}
    10%   {  bottom: 900px; opacity: 1;}
    100% { bottom: 0px; opacity: 1;}
  } */

.van{
  position: relative;
  left: 140px;
  max-width: 400px;
  
}
.vanAnimation{
  animation-name: vanComing;
  animation-duration: 2s;
  transition: ease-in;
}
@keyframes vanComing {
  0%   {  left: 1000px; opacity: 1;}
  /* 10%   {  left: 900px; opacity: 1;} */
  100% { left: 140px; opacity: 1;}
}

  @media (max-width:700px){
    .calcAnimateBox{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    .boxes{
      position: relative;
      left: 0px;
      max-width: 300px;
      animation-name: boxAppear;
      animation-duration: 2s;
      transition: ease-out;
      /* translate: 50px 100px; */
    }
    /* @keyframes boxAppear {
      0%   {  bottom: 1200px; opacity: 0;}
      10%   {  bottom: 900px; opacity: 1;}
      100% { bottom: 0px; opacity: 1;}
    } */
  
  .van{
    position: relative;
    left: 0px;
    max-width: 400px;
    
  }
  .vanAnimation{
    animation-name: vanGoing;
    animation-duration: 2s;
    transition: ease-in;
  }
  @keyframes vanGoing {
    0%   {  left: -500px; opacity: 1;}
    /* 10%   {  left: 900px; opacity: 1;} */
    100% { left: 0px; opacity: 1;}
  }
  
    .priceSecContainer{
      flex-direction: column;
    }
    .formContainer input{
      padding: 8px;
      width: 90%;
    }
    .serviceContainer{
      display: flex;
      flex-wrap: wrap;
      gap: 120px;
      /* justify-content: center; */
      /* align-items: start; */
      justify-content:flex-start;
    }
    .mockUpBox{
      width: 100%;
   
    }
    .howItWorksContainer{
      width: 100%;
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: column;
      gap: 40px;
    }
    .howItWorksRow{
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      gap: 120px;
      align-items: center;
    }
    .stepBoxPara{
      display: none;
      transition: all 0.5s ease;
    }
    .logoQuote{
      gap: 2px;
      align-items: center;
    }
    .logoText{
      max-width: 180px;
    }
  }
  @media (min-width: 700px) and (max-width: 1200px) {
    .hero {
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 100px;
      align-items: start;
    }
    .header{
      padding: 20px 40px;
      gap: 12px;
    }
    nav{
      display: none;
    }
  }

  